[Desktop Entry]
Version=0.17.6
Name=Metrix Core Testnet
Comment=Connect to the Metrix P2P Network Testnet
Exec=metrix-qt -testnet %u
Terminal=false
Type=Application
Icon=metrixtestnet128
MimeType=x-scheme-handler/metrix;
Categories=Network;
StartupWMClass=Metrix-qt-testnet
Name[en_US]=metrix-qt-testnet
