[Unit]
Description=Metrix's distributed currency daemon
After=network.target

[Service]
User=metrixd
Group=metrixd

Type=forking
PIDFile=/var/lib/metrixd/metrixd.pid
ExecStart=/usr/bin/metrixd -daemon -pid=/var/lib/metrixd/metrixd.pid -conf=/etc/metrixd.conf -datadir=/var/lib/metrixd

Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target