/build/
/bin/
release/
debug/

*.P
*.o
*.o-*
*.d
.*
*.a

#Dev tools & build testing
.circleci/run-build-locally.sh
!.circleci/
.vscode/
.vs/

src/obj/build.h
src/univalue/gen
object_script.Linda-qt.*

# daemons
src/Linda-tx
src/Linda-cli
src/Lindad

# autotools
Makefile
Makefile.in
!depends/Makefile
*plugin_import.cpp
configure
aclocal.m4
config.status
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/missing
depends/x86_64-*/*
depends/built/*
depends/sources/*
depends/SDKs/*
share/setup.nsi
src/config/bitcoin-config.h
src/config/bitcoin-config.h.in
src/config/stamp-h1
!src/config/.empty

# Libtool
libtool
src/m4/libtool.m4
src/m4/ltoptions.m4
src/m4/ltsugar.m4
src/m4/ltversion.m4
src/m4/lt~obsolete.m4

# Resources cpp
qrc_*.cpp