build/
src/qt/locale/*.qm
/bin/
release/
debug/
*.P
*.o
*.d
.*
src/Lindad
.vscode/
.vs/
Linda-qt
qrc_bitcoin.cpp
src/obj/build.h
object_script.Linda-qt.*
Makefile.*
Makefile
!Makefile.am
!Makefile.include
*plugin_import.cpp
