/*-------------------------------------------- 
Tool Button Black CSS
--------------------------------------------*/
QToolButton {
    color: #ffffff;
    background: transparent;
    border: 0px solid transparent;
    border-radius: 0px;
    padding: 10px 20px 10px 10px;
}
QToolButton:checked {
    border-right: 3px solid #340434;
    padding: 3px 20px 5px 10px;
}
QToolButton:pressed, QToolButton:hover:pressed, QToolButton:checked {
    color: #ffffff;
    background: #7b0a7b;
}
QToolButton:hover:!checked {
    color: #ffffff;
    background: #7b0a7b;
}
QToolButton:disabled {
    color: rgba(255, 255, 255, 20%);
}
