
# metrixd RPC settings
rpcuser=someuser
rpcpassword=somepassword
host=127.0.0.1
port=33821

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=600000

# bootstrap.dat settings
netmagic=9cd31701
input=/home/example/.bitcoin/blocks
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt
split_year=1
